@import "tailwindcss";

.rubik {
  font-family: var(--font-rubik), serif;
}

.petite-cochon {
  font-family: "PetiteCochon", serif;
}

:root {
  --background: #f5f8fb;
  --foreground: #7c86ff;
  --yuvi-light-blue: #cce3ff;
  --yuvi-blue: #7c86ff;
  --yuvi-rose: #ffbbe2;
  --yuvi-white: #ffffff;
  --yuvi-black: #000105;
  --yuvi-skyblue: #3bb7fc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
  --color-yuvi-light-blue: var(--yuvi-light-blue);
  --color-yuvi-rose: var(--yuvi-rose);
  --color-yuvi-blue: var(--yuvi-blue);
  --color-yuvi-white: var(--yuvi-white);
  --color-yuvi-skyblue: var(--yuvi-skyblue);
  --text-primary: var(--yuvi-black);
  --font-fancy: var(--font-petite-cochon);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-sans);
}

.overflow-box-scroll-hidden::-webkit-scrollbar {
  display: none;
}

::-webkit-calendar-picker-indicator {
  background-image: url("/calendar.svg");
}
