@import "tailwindcss";

.gelasio {
  font-family: var(--font-gelasio), serif;
}

:root {
  --background: #fffafa;
  --foreground: #6085b9;
  --yuvi-light-blue: #cce3ff;
  --yuvi-blue: #6085b9;
  --yuvi-rose: #ffbbe2;
  --yuvi-white: #fffafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-yuvi-light-blue: var(--yuvi-light-blue);
  --color-yuvi-rose: var(--yuvi-rose);
  --color-yuvi-blue: var(--yuvi-blue);
  --color-yuvi-white: var(--yuvi-white);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.overflow-box-scroll-hidden::-webkit-scrollbar {
  display: none;
}
